:host ::ng-deep {
  .p-toolbar,
  .p-toolbar-group-right,
  .p-datatable .p-datatable-header,
  .p-datatable .p-datatable-tbody > tr,
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-paginator-bottom {
    background: none;
  }

  p-table {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
  }

  .btns {
    text-align: end !important;
  }

  /* .p-datatable .p-datatable-tbody > tr > td.btns {
    text-align: end;
  } */

  .p-datatable-header {
    border-top: none;
  }

  .p-paginator-bottom {
    border-bottom: none;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
  }

  .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
  }

  .p-datatable .p-datatable-tbody > tr > td > span {
    padding-left: 0.5rem;
  }

  .p-button {
    margin-right: 5px;
  }

  .p-d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .addAdditionalTag__content {
    display: flex;
    align-items: center;

    div {
      margin-left: 0.3rem;
    }
  }

  .deleteTagByIndex__content {
    display: flex;
    justify-content: space-between;

    .deleteTagByIndex__input {
      width: 90%;
    }
  }

  h5 {
    font-size: 20px;
  }

  .p-field {
    margin-bottom: 10px;
  }

  textarea {
    width: 100%;
    font-size: 15px;
  }

  .tags {
    display: flex;
    justify-content: space-between;
  }

  .filter {
    margin-right: 10px;
  }

  table {
    border-collapse: collapse !important;
    table-layout: fixed !important;
    text-align: center;
  }

  .p-datatable-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 0 1rem; */
  }
}

.tags__name:not(:last-child)::after {
  content: ',';
}

.add-btn {
  margin-left: 0.625rem;
}

.invalid {
  color: red;
}
