$main__font-family: 'Lato', sans-serif;
$secondary__font-family: muli, sans-serif;

$regular__font-weight: 400;
$bold__font-weight: 700;

$main__text-color: #1C1C1BFF;
$secondary__text-color: #1C1C1BFF;

$default__border-radius: 10px;

$button__color: #00539cff;

$accent__color: #40bfef;
$white__color: #fff;
$black__color: #2D2D2D;

$default__blur: blur(10px);
$primary__background: rgba(255, 255, 255, 0.6);
$secondary__background: rgba(255, 255, 255, 0.25);
