:host ::ng-deep {
  .p-datatable-responsive-demo {
    margin: 1rem 0;
  }

  table {
    border-collapse: collapse !important;
    table-layout: auto !important;
    overflow: hidden !important;
    border-radius: 10px !important;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  tr,
  th {
    color: #495057 !important;
    background: none !important;
    transition: box-shadow 0.2s !important;
  }

  td,
  th {
    text-align: center !important;
    outline: none !important;
  }

  td:hover {
    background: white;
  }
}

button {
  display: inline-block;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

i {
  vertical-align: bottom;
}

.date__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 920px) {
  .order__location {
    display: none;
  }

  .date__header {
    width: min-content;
  }
}

@media screen and (max-width: 760px) {
  .order__vendor {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .order__endDate {
    display: none;
  }
}
